/* font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif; */

/* #4D5AE5 iris
    #2E2F42 navy */

body{
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #FFFFFF;
    
}

.header-logo{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;  
}
.span{
    color: #2e2f42;
}

.top-line{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.top-line:hover, .top-line:focus{
    color: #404bbf; 
}

.address{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.address:hover, .address:focus{
    color: #404bbf; 
}


h2{
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 36px;
    letter-spacing: 2%;
}

h3{
    font-family: 'Roboto', sans-serif;
    font-weight: medium;
    font-size: 20px;
    letter-spacing: 2%; 
}

ul{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 2%;
}

p{
    font-family: 'Roboto', sans-serif;
    font-weight: regular;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 4%;
}
    
button{
    font-family: 'Roboto', sans-serif;
    font-weight: medium;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 4%; 
}

a{
    font-family: 'Roboto', sans-serif;
    font-weight: regular;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 4%;
    text-decoration: underline;
}

    

